<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>


<div class="cta">
  <h3>${_("Already registered?")}</h3>
  <p class="instructions">
    <a href="${reverse('signin_user')}${login_query()}">
      ${_("Click here to log in.")}
    </a>
  </p>
</div>
<div class="cta cta-help">
    <h3>Besoin d'aide ?</h3>
    <ul>
    <li><a href="/faq">Accéder au FAQ </a> </li>
    <li><a href="/about#contact">Contactez nous</a></li>
    </ul>
</div>
